USE [master]
GO
/****** Object:  Database [ProductDB]    Script Date: 12/07/2022 22:23:52 ******/
CREATE DATABASE [ProductDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LAUJDB\MSSQL\DATA\ProductDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LAUJDB\MSSQL\DATA\ProductDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/07/2022 22:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id_Category] [int] IDENTITY(1,1) NOT NULL,
	[NameCategory] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/07/2022 22:23:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id_Product] [int] IDENTITY(1,1) NOT NULL,
	[NameProduct] [varchar](100) NOT NULL,
	[ProductDescription] [varchar](max) NULL,
	[Id_Category] [int] NOT NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id_Category], [NameCategory]) VALUES (1, N'Abarrote')
INSERT [dbo].[Categories] ([Id_Category], [NameCategory]) VALUES (2, N'Carnicos')
INSERT [dbo].[Categories] ([Id_Category], [NameCategory]) VALUES (3, N'Textil')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id_Product], [NameProduct], [ProductDescription], [Id_Category], [image]) VALUES (1, N'Lomo de cerdo', N'Carne de primera calidad de Cerdo', 2, NULL)
INSERT [dbo].[Products] ([Id_Product], [NameProduct], [ProductDescription], [Id_Category], [image]) VALUES (2, N'Cuadernos Narvel', N'Libreta de los personajes de advenyers', 9, NULL)
INSERT [dbo].[Products] ([Id_Product], [NameProduct], [ProductDescription], [Id_Category], [image]) VALUES (3, N'Camisa Advenyers', N'Camisa de superheroes', 3, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Id_Category])
REFERENCES [dbo].[Categories] ([Id_Category])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
